@media (max-width: 1023px)
    .centr
        padding-left: calc(50% - 368px)
        padding-right: calc(50% - 368px)

    .promo
        &__h1
            font-size: 37px
            line-height: 44px
        &__h2
            font-size: 24px
            line-height: 28px

    .sale
        padding-bottom: 64px
        &__top
            gap: 20px
        &__item
            height: 167px

        &__bottom
            height: 116px

    .cart
        margin-bottom: 144px
        &__box
            gap: 16px

    .benefit
        flex-direction: column
        align-items: center
        row-gap: 48px
        padding-top: 48px
        padding-bottom: 64px

    .footer__middle
        background-position: -376px top
        flex-direction: column
        align-items: center
        padding-bottom: 140px
        &_right
            margin-top: 48px
            &_h3
                padding-bottom: 22px
        &_left
            margin-top: 56px

    .regestration__text
        font-size: 16px
        line-height: 19px
    .site__form_reg-form
        margin-right: 22px

    .breadcrumbs
        margin-bottom: 7px

    .catalog
        &__filter
            margin-bottom: 40px

    .cart
        &__box
            margin-bottom: 40px

    .catalog
        margin-bottom: 96px

    .product
        &_img
            height: 624px
            margin-top: -7px
        &_content
            margin-top: 0

    .basket
        flex-direction: column
        &__buttom
            justify-content: center
            gap: 48px
            margin: 64px 0 64px
        &__form
            width: auto
            display: flex
            justify-content: space-between

    .total-price
        min-width: 360px
        height: 214px
        margin-top: 38px

    .site__form_shipping-adress
        margin: auto

    .order
        align-self: center
